html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #8F95A5;
}

*, *::after, *::before {
    box-sizing: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--main-color);
}

.container {
    max-width: 1348px;
    margin: 0 auto;
}

.text-h1 {
    margin: 0;
    font-size: 64px;
    color: #000000;
    line-height: 80px;
    font-weight: 700;
    width: 393px;
}

.text-h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    color: #000000;
}
.text-h3 {
    color: #263238;    
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
}

.text-p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;

}

.btn {
   
    padding: 15px 51px;
    background-color: #263238;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    width: 218px;
    text-decoration: none;
    cursor: pointer;
    
}
/* ********************************************* Main CSS *********************************************/



/* ********************************************* Header block *********************************************/
.header {
    padding-top: 46px;
    padding-bottom: 50px;

}
.header__flex {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__flex img {
    
    height: 31px;
    width: 106px;
}
.menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: 30px;
   
}

.menu li {
    list-style-type: none;

}


.menu a {
    text-decoration: none;
    color: #263238;
    font-weight: 500;
    font-size: 20px;
}

.menu a:hover {
    color: var(--main-color);
    transition: 0.4s;
}

.header__flex .btn {
    margin-top: 12px;
    padding: 16px 50px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-size: 22px;
    font-weight: 400;
    
}

.header__flex .btn:hover {
    background-color: #263238;
    color: #fff;
    transition: 0.6s;
}


.burger {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 17px;
    width: 30px;
}
.burger__line {
    background-color: #39515E;
    width: 30px;
    height: 2px;
    border-radius: 3px;
}



.burger__line:not(:nth-child(3)) {
    margin-bottom: 5px;
}
.burger__line:nth-child(3) {
    width: 21px;
}

.burger-list {
    display: none;
    

}

.close {
    cursor: pointer;
    width: 19px;
    height: 19px;
    position: relative;
    cursor: pointer;
    top: 32px;
    float: right;
    margin-right: 25px;
}

.close__line {
    /* display: block;
    height: 2px;
    width: 20px;
    background-color: #39515E; */ 
    width: 100%;
    height: 2px;
    background-color: #39515E;
    position: absolute;
    
}

.close__line:nth-child(1) {
    
}

.line-upper {
    transform: translatey(0px);
    transform: rotate(45deg);
  }
  
.line-lower {
    transform: translatey(0px);
    transform: rotate(-45deg);
}







/* ********************************************* Language block *********************************************/

.language {
    padding-top: 3px;
}
.language__flex {
    padding-left: 2px;
    display: flex;
    justify-content: space-between;
    
}
.language__flex-item {
    margin-top: 48px;
}

.text-h1 {
    margin-bottom: 41px;
} 

.language__flex-item .text-p {
    width: 525px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 65px;
}
.text {
}

.language-btn {
    padding: 28px 117px;
    border: 1px solid #000;
    width: 440px;
    height: 118px;
    font-size: 36px;
    border-radius: 15px;
    
}

.language-btn:hover {
    background-color: #fff;
    color: #263238;
    transition: 0.6s;
}

.language-img {
    margin-left: 163px;
}




/* ********************************************* Skills block *********************************************/

.skills {
    padding-top: 100px;
    padding-bottom: 126px;
}
.skills .text-h2 {
    margin-bottom: 95px;
    margin-top: 2px;
}
.skills__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
        "speaking writing reading"
        "speaking listening listening";

}
.skills__grid-item {
    border-radius: 10px;
    padding-top: 35px;
    width: 435px;
    height: 532px;
    background-color: #F5F5F5;
}

.skills__grid-item img {
    margin-left: 22px;
}

.skills__grid-item .text-h3 {
    margin: 0;
    margin-left: 43px; 
    margin-top: 14px;
    margin-bottom: 21px;   
}
.skills__grid-item .text-p {
    width: 341px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 43px;
    margin-bottom: 38px; 
    line-height: 1.5em;
}
.skiils-p {
}

.skills__grid-item .btn {
    margin-left: 43px;
    width: 229px;
    padding: 13px 55px;
    border: 1px solid #000;
}

.skills__grid-item .btn:hover {
    color: #263238;
    background-color: #fff;
    transition: 0.6s;
}




.skills__speaking {
    grid-area: speaking;
    height: 894px;
}


/*****skills-writing****/
.skills-writing {
    grid-area: writing;
    padding: 0;
    position: relative;
}

.skills-writing .text-h3 {
    margin-top: 268px;
    margin-left: 38px;
    margin-bottom: 8px;
}

.skills-writing .img-writing {
    position: absolute;
    left: 96px;
    top: -3px;

}

.skills-writing .text-p {
    margin-left: 38px;
    margin-bottom: 32px;
}

.skills-writing .btn {
    margin-left: 38px;
    padding: 13px 50px;
    width: 220px;
    border: 1px solid #000;
}


/*****skills-reading****/
.skills-reading {
    grid-area: reading;
    position: relative;
    padding-top: 0;
}

.skills-reading .text-h3 {
    /* margin-top: 17px;
    margin-bottom: 2px;
    margin-left: 33px; */

    margin-top: 271px;
    margin-left: 33px;
    margin-bottom: 2px;
}

.skills-reading .text-p {
    margin-left: 35px;
    width: 354px;
    margin-bottom: 34px;
}

.skills-reading .btn {
    margin-left: 34px;
    padding: 13px 50px;
    width: 222px;
    border: 1px solid #000;
}


.skills-reading img {
    margin: 0;
    position: absolute;
    left: -6px;
    top: 9px;

}

/*****skills-listening****/
.skills-listening {
    padding-top: 44px;
    grid-area: listening;
    width: 885px;
    height: 343px;
    display: flex;
    justify-content: space-between;
}

.skills-listening .text-h3 {
    margin-bottom: 11px;
}

.skills-listening .text-p {
    margin-bottom: 26px;
}

.skills-listening .btn {
    margin-left: 39px;
    padding: 13px 50px;
    width: 220px;
    border: 1px solid #000;
}


.skills-listening img {
    height: 255px;
    width: 382px;
    margin-right: 29px;
}




/* ********************************************* About block *********************************************/

.about {
    padding-top: 126px;
    padding-bottom: 94px;
}
.about__flex {
    display: flex;
    justify-content: space-between;
    /* padding-left: 5px; */
}
.about__flex-item {
    margin-top: 30px;
    
}
.about .text-h2 {
    text-align: left;
    margin-bottom: 23px;
    margin-left: 5px;
}
.about .text-p {
    width: 635px;
    margin-bottom: 55px;
    margin-left: 5px;
}
.about-p {
}


.about__flex-count {
    display: flex;
    justify-content: space-between;
    gap: 1px;
    align-items: center;
    margin-left: 2px;

}

.about img {
    height: 500px;
    width: 500px;
    margin-right: 14px;
}

.block-coutn {
    text-align: center;
    width: 100px;   
    margin-right: 132px;
}

.block-coutn .text-h3 {
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    margin-bottom: 15px;
}
.block-coutn .text-p {
    width: 100px;
    margin-left: 0px;
}


.block-coutn:nth-child(2) {
    margin-right: 75px;
}

.block-coutn:nth-child(2) .text-p {
    margin-left: 2px;
}



.block-coutn:nth-child(3) {
    width: 205px;   
}
.block-coutn:nth-child(3) .text-h3 {
    margin-bottom: 13px;
}

.block-coutn:nth-child(3) .text-p {
    width: 205px;
    margin-left: 9px;
}

/* ********************************************* Pricing block *********************************************/
.pricing {
    padding-top: 78px;
    padding-bottom: 145px;
}

.pricing .text-h2 {
    margin-bottom: 57px;
}
.pricing__flex {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}

.pricing__flex-item {
}
.online {

    margin-left: 25px;
    margin-bottom: 34px;
}

.lesson {
    margin-top: 26px;
    /* margin-left: 12px; */
    margin-bottom: 35px;
}

.pricing__flex-item .text-h3 {
    margin: 0;
    margin-bottom: 18px;
}


.pricing__flex-item .text-p {
    height: 90px;
    width: 420px;
    margin-bottom: 29px;
}
.pricing__flex-item:nth-child(2) {
    padding-left: 45px;
}

.pricing__flex-item:nth-child(2) .text-h3 {
    margin-bottom: 22px;
    margin-left: 2px;
}

.pricing__flex-item:nth-child(2) .text-p {
    margin-left: 2px;
}

.pricing__flex-item:nth-child(3) {
    margin-right: 16px;
}

.pricing__flex-item:nth-child(3) .text-p {
    width: 425px;
}


.pricing__month {
    padding-left: 19px;
    padding-right: 19px;
    height: 45px;
    width: 240px;
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.pricing__flex-item:nth-child(2) .pricing__month {
    margin-left: 7px; 
    padding-left: 15px;
    padding-right: 26px;
}

.pricing__flex-item:nth-child(3) .pricing__month {
    padding-left: 13px;
}

.price {
    color: #263238;
    font-size: 30px;
    font-weight: 400;
}
.price-lable {
    color: #263238;
    font-size: 18px;
    font-weight: 400;
}

.webinar {
    margin-left: 50px;
    padding-bottom: 4px;
}


/* ********************************************* Contact block *********************************************/
.contact {
    padding-top: 113px;
    padding-bottom: 133px;
}

.contact .container {
    max-width: 1375px;
}
.contact__flex {
    display: flex;
    justify-content: space-between;
}
.contact__item {
    margin-right: 37px;
}

.contact-h2 {
    margin: 0;
    margin-top: 33px;
    margin-bottom: 36px;
    text-align: left;
}

.contact-p {
    margin-bottom: 52px;
}
.contact-form {
    display: flex;
}

input {
    width: 450px;
    height: 80px;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    padding: 26px 0 29px 34px;
}

input::placeholder {
    color: #8F95A5;
    font-size: 16px;
    font-weight: 400;
}

input {
    font-size: 16px;
    font-weight: 400;
}

.contact-form .btn {
    width: 265px;
    height: 80px;
    margin-left: 12px;
    padding: 22px 81px;
    border: 1px solid #000;
    border-radius: 10px;
}

.contact-form .btn:hover {
    color: #263238;
    background-color: #fff;
    transition: 0.6s;
}


/* ********************************************* Footer block *********************************************/

.footer {
    padding-top: 26px;
    padding-bottom: 58px;
    border-top: 1px solid #c4c4c4;
}



.footer__flex {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-left: 7px;
}
.footer__flex img {
    height: 31px;
    width: 106px;
}

.footer-nav {
    margin-top: 15px;
    display: flex;
    gap: 5px;
}

.footer-nav li {
    list-style-type: none;
}



.footer-nav .circle::before {
    content: "•";
    font-size: 24px;
    display: inline-block;
    width: 0.5em;
}

.footer-nav a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    
}

@media screen and (max-width: 992px) {
    .text-h1 {
        font-size: 48px;
        line-height: 64px;
        width: 295px;
        margin-bottom: 26px;
    }
    
    .text-h2 {
        font-size: 36px;
    }
    .text-h3 {
        font-size: 22px;
        line-height: 48px;
    }
    
    .text-p {
        font-size: 16px;
    }

    /**********Header block************/
    
    .header {
        padding-top: 4px;
        padding-bottom: 20px;
    }

    .container {
        max-width: 951px;
    }


    .header__flex {
        padding-left: 12px;
        padding-right: 11px;
      

    }

    .header__flex img {
        margin-top: 15px;
        height: 26px;
        width: 86px;
    }

    nav {
        margin-top: 24px;
    }
    .menu {
        gap: 24px;
        margin-right: 0;
    }

    .menu a {
        font-size: 16px;
    }

    .header__flex .btn {
        padding: 10px 32px;
        font-size: 18px;
        width: 159px;
    }
    /**********Language block************/

    .language {
        padding-top: 5px;
    }

    .language__flex {
        padding-left: 7px; 
    }

    .language__flex {
        font-size: 20px;
        justify-content: none;

    }

    .language-img {
        height: 460px;
        width: 460px;
        margin-left: 58px;
        margin-top: 34px;
    }

    .language__flex-item .text-p {
        width: 420px;
        font-size: 20px;
        margin-left: 6px;
        margin-bottom: 34px;
    }

    .language-btn {
        padding: 21px 77px;
        margin-left: 2px;
        width: 292px;
        height: 81px;
        font-size: 24px;    
        border-radius: 5px; 

    }

    /**********Skills block************/
    .skills {
        padding-top: 44px;
        padding-bottom: 63px;
    }

    .skills .text-h2 {
        margin-bottom: 53px;
        
    }

    .skills .text-p {
        font-size: 14px;
    }
    .skills .btn {
        font-size: 18px;
    }

    .skills__grid {
        padding-left: 10px;
        gap: 14px;
    }


    .skills__speaking {
        padding-top: 0;
        height: 696px;
        width: 303px;
    }

    .skills__speaking img {
        margin-left: 22px;
        height: 260px;
        width: 260px;
    }

    .skills__speaking .text-h3 {
        margin-left: 29px;
        margin-top: 9px;
        margin-bottom: 7px;
    }
    .skills__speaking .text-p {
        width: 259px;
        margin-left: 28px;
        margin-bottom: 24px;
    }

    .skills__speaking .btn {
        padding: 13px 41px;
        width: 196px;
        font-size: 18px;
        margin-left: 28px;

    }

    .media {
        overflow: visible;
    }


    .skills-writing {
        height: 441px;
        width: 300px;
    }


    .skills-writing .img-writing {
        height: 205px;
        width: 205px;
        left: 64px;
        top: 6px;
    }
    .skills-writing .text-h3 {
        margin-top: 197px;
        margin-left: 27px;
        margin-bottom: 3px;
    }

    .skills-writing .text-p {
        width: 285px;
        margin-left: 28px;
        margin-bottom: 23px;
    }

    .skills-writing .btn {
        margin-left: 29px;
        padding: 14px 41px;
        width: 196px;
    }

    .skills-reading {
        height: 441px;
        width: 304px;
    }

    .skills-reading img {
        height: 162px;
        width: 243px;
        left: -2px;
        top: 15px;
    }

    .skills-reading .text-h3 {
        margin-top: 197px;
        margin-left: 20px;
        margin-bottom: 0;
    }   

    .skills-reading .text-p {
        width: 245px;
        margin-left: 22px;
        margin-bottom: 24px;
    }

    .skills-reading .btn {
        padding: 13px 41px;
        margin-left: 22px;
        width: 196px;
    }

    .skills-listening {
        padding-top: 6px;
        height: 241px;
        width: 616px;
    }

    .skills-listening .text-h3 {
        margin-left: 28px;
        margin-bottom: 2px;
    }
    .skills-listening img {
        height: 169px;
        width: 254px;
        margin-top: 26px;
    }

    .skills-listening .text-p {
        width: 290px;
        margin-left: 32px;
        margin-bottom: 17px;
    }
    .skills-listening .btn {
        width: 196px;
        margin-left: 29px;
        padding: 14px 41px;
    }

    /**********About block************/

    .about {
        padding-top: 14px;
        padding-bottom: 47px;
    }
    .about .text-h2 {
        margin-left: 9px;
        margin-bottom: 14px;
    }
    .about .text-p {
        width: 526px;
        margin-bottom: 20px;
        margin-left: 10px;
        line-height: 1.53em;
    }
    .about__flex-item {
        margin-top: 28px;
    }
    .about__flex-count {
        margin-top: 5px;
        margin-left: 0px;
        gap: 13px;
        justify-content: flex-start;
    }

    .about img {
        height: 336px;
        width: 336px;
    }
    

    .block-coutn {
        margin-right: 0;
    }
    .block-coutn .text-h3 {
        font-size: 30px;
        margin-bottom: 7px;
    }
    .block-coutn .text-p {
        width: 100px;
        margin-left: 0;
        margin-bottom: 0;
    }

    .block-coutn:nth-child(1) {
        margin-right: 10px;
    }
    .block-coutn:nth-child(2) {
        margin-right: 21px;
       
    }
    

    .block-coutn:nth-child(3) {
        width: 152px;
    }
    .block-coutn:nth-child(3) .text-h3 {
        margin-bottom: 10px;
    }
    .block-coutn:nth-child(3) .text-p {
        width: 150px;
        
    }
      /**********About block************/

      .pricing  {
        padding-bottom: 94px;
      }
      .pricing .text-h2 {
        margin-bottom: 8px;
    }

    .pricing__flex {
        padding: 0;
    }

    .pricing__flex-item:nth-child(2) {
        padding-left: 24px;
    }
    .pricing__flex-item:nth-child(3) {
        margin-right: 44px;
    }

    
    .online {
        height: 222px;
        width: 222px;
        margin-top: 12px;
        margin-bottom: 7px;
        
    }
    .lesson {
        height: 195px;
        width: 267px;
        margin-top: 37px;
        margin-bottom: 10px;
    }
    .webinar {
        height: 242px;
        width: 242px; 
        margin-top: 1px;  
        padding-bottom: 0;  
        margin-left: 43px; 
    }



    .pricing__flex-item:nth-child(2) .text-p,
    .pricing__flex-item:nth-child(3) .text-p {
        width: 275px
    }

    .pricing__flex-item:nth-child(2) .text-p {
        margin-bottom: 11px;
        margin-left: 19px;
    }

    .pricing__flex-item:nth-child(3) .text-p {
        margin-left: 59px;
        margin-bottom: 17px;
    }


    .pricing__flex-item:nth-child(1) .text-p {
        width: 293px;
        margin-left: 12px;
        margin-bottom: 14px;
        
    }

    .pricing__flex-item:nth-child(1)  .text-h3 {
        margin-bottom: 5px;
        margin-left: 8px;
    }

    .pricing__flex-item:nth-child(2)  .text-h3 {
        margin-left: 16px;
        margin-bottom: 6px;
    }

    .pricing__flex-item:nth-child(3)  .text-h3 {
        margin-left: 58px;
        line-height: 43px;
        margin-bottom: 2px;
    }

    .pricing__month {
        margin-left: 11px;
        width: 206px;
        padding-left: 13px;
        height: 46px;
        
    }
    .price {
        font-size: 24px;
    }
    .price-lable {
        font-size: 16px;
    }

     .pricing__flex-item:nth-child(2) .pricing__month {
        margin-left: 18px;
        padding-left: 14px;
        padding-right: 15px;
    }

    .pricing__flex-item:nth-child(3) .pricing__month {
        margin-left: 60px;
        width: 204px;
        padding-left: 14px;
        padding-right: 7px;
    }

    .contact {
        padding-top: 45px;
        padding-bottom: 158px;
    }

    .contact .text-h2 {
        margin-left: 16px;
        margin-top: 0;
        line-height: 72px;
        margin-bottom: 5px;
    }

    .contact img {
        height: 280px;
        width: 312px;
        margin-left: 14px;
    }

    .contact__flex {
        gap: 107px;
    }
    .contact-p {
        width: 444px;
        margin-bottom: 33px;
    }

    .contact-p br {
        display: none;
    }

    input {
        width: 325px;
        height: 60px;  
        border-radius: 10px;
        font-size: 14px;
        padding: 17px 0 15px 38px;
    }

    input::placeholder {
        font-size: 14px;
    }

    .contact .btn {
        height: 60px;
        width: 192px;
        border-radius: 10px;
        font-size: 16px;
        padding: 19px 53px;
        margin-left: 14px;
    }

    /**********Footer block************/
    .footer {
        padding-top: 2px;
    }

    .footer img {
        margin-top: 15px;
        height: 26px;
        width: 86px;
    }

    .footer__flex {
        padding-left: 11px;
        padding-right: 11px;
    }

    .footer-nav {
        margin-top: 20px;
        gap: 6px;
    }

    .footer-nav a {
        font-size: 16px;
    }

    .footer-nav .circle::before {
        font-size: 11px;
        width: 0.1em;
        margin-right: 2px;
    }
}

@media screen and (max-width: 767px) {
    .text-h1 {
        font-size: 36px;
        line-height: 45px;
        width: 221px;
        margin-bottom: 23px;
    }
    
    .text-h2 {
        font-size: 30px;
    }
    .text-h3 {
        font-size: 20px;
        line-height: 48px;
    }
    
    .text-p {
        font-size: 13px;
    }

    /**********Header block************/
    
    .header {
        padding-top: 33px;
        padding-bottom: 20px;
        
    }
    body {
        position: relative;
    }

    

    
    .container {
        max-width: 712px;
    }

    .header__flex {
        padding-left: 13px;
    }

    nav {
        display: none;
    }



    .header .btn {
        display: none;
    }

    .burger {
        display: flex;
    }

    .burger-list {
        position: absolute;
        display: block;
        top: 0;
        width: 429px;
        height: 100%;
        z-index: 1;
        background-color: red;
    }

    .burger-list img {
        margin-top: 48px;
        height: 26px;
        width: 86px;
        margin-left: 40px;
        margin-bottom: 21px;
    }
    .burger-menu {
        list-style-type: none;
    }

    .burger-menu a {
        text-decoration: none;
        font-size: 22px;
        font-weight: 500;
        line-height: 60px;
        color: #263238;
    }

    .line {
        height: 1px;
        width: 364px;
        background-color: #c4c4c4;
        margin-left: 39px;
        margin-bottom: 35px;
    }

    
     /**********Language block************/
     .language {
        padding-top: 11px;
        padding-bottom: 10px;
    }

    .language__flex-item {
        margin-left: 3px;
    }

    .language__flex-item .text-p {
        font-size: 16px;
        width: 337px;
        margin-left: 2px;
        margin-bottom: 30px;
    }

    .language-img {
        height: 352px;
        width: 352px;
        margin-left: 22px;
        margin-top: 19px;
    }

    .language-btn {
        padding: 18px 65px;
        height: 66px;
        width: 236px;
        font-size: 18px;
        border-radius: 5px;
    }

    /**********Skills block************/
    .skills {
        padding-bottom: 9px;
    }
    
    .skills .text-h2 {
        margin-bottom: 36px;
    }

    .skills__grid {
        padding-left: 12px;
        gap: 2px; 
    }

    .skills__grid .text-p {
        width: 200px;
        font-size: 13px;
    }

    .skills__speaking {
        height: 662px;
        width: 224px;
    }

    .skills-writing,
    .skills-reading {
        height: 442px;
        width: 227px;
    }

    .skills-reading {
        width: 230px;
    }

    .skills-listening {
        margin-top: 8px;
        height: 210px;
        width: 462px;
        position: relative;
    }

    .skills__speaking img {
        height: 214px;
        width: 214px;
        margin-top: 30px;
        margin-left: 0;
    }

    .skills__speaking .text-h3 {
        margin-left: 17px;
        margin-top: 11px;
        margin-bottom: 4px;
    }

    .skills__speaking .text-p {
        margin-left: 17px;
        font-size: 13px;
        width: 197px;
        line-height: 1.54em;
        margin-bottom: 19px;
    }

    .skills__speaking .btn {
        padding: 13px 41px;
        width: 179px;
        font-size: 16px;
        margin-left: 16px;
    }

    .skills-writing .img-writing {
        height: 200px;
        width: 200px;
        left: 2px;
        top: 14px;
        margin-left: 0;
        
    }

  

    .skills-writing .text-h3 {
        margin-top: 198px;
        margin-left: 14px;
        margin-bottom: 0;
    }
    .skills-writing .text-p {
        margin-left: 19px;
        width: 186px;
        margin-bottom: 20px;
    }

    .skills-writing .btn {
        margin-left: 16px;
        padding: 12px 41px;
        width: 179px;
        font-size: 16px;
    }

    .skills-writing .media {
        display: none;
    }

    .skills-reading img {
        height: 144px;
        width: 216px;
        left: -1px;
        top: 33px;
    }

    .skills-reading .text-h3 {
        margin-top: 193px;
        margin-left: 19px;
        margin-bottom: 1px;
    }

    .skills-reading .text-p {
        margin-left: 19px;
    }

    .skills-reading .btn {
        font-size: 16px;
        padding: 12px 43px;
        margin-left: 21px;
        width: 180px;
    }

    .skills-listening .text-h3 {
        margin-top: 6px;
        margin-left: 21px;
        margin-bottom: 0;
    }

    .skills-listening .text-p {
        margin-left: 21px;
        width: 249px;
        margin-bottom: 15px;
    }

    .skills-listening img {
        height: 134px;
        width: 202px;
        margin: 0;
        position: absolute;
        top: 58px;
        left: 257px;
    }

    .skills-listening .btn {
        font-size: 16px;
        width: 179px;
        margin-left: 20px;
        padding: 11px 42px;
    }
    /**********About block************/

    .about {
        padding-bottom: 14px;
    }

    .about img {
        height: 295px;
        width: 295px;
        margin-top: 64px;
        margin-right: 7px;
    }
    .about .text-h2 {
        margin-left: 12px;
        margin-bottom: 0px;
    }

    .about .about-p {
        font-size: 14px;
        width: 321px;
        margin-left: 12px;
        line-height: 1.5em;
        margin-bottom: 21px;
    }

    .about .media {
        display: none;
    }

    .about__flex-count {
        margin-top: 0px;
    }

    .block-coutn {
        width: 80px;
    }

    .block-coutn .text-h3 {
        font-size: 22px;
        line-height: 0;
        margin-bottom: 32px;
    }
    .block-coutn:not(:nth-child(3)) .text-h3 {
        margin-top: 22px;
    }

    .block-coutn .text-p {
        font-size: 13px;
        width: 80px;
        margin-left: 0;
    
    }
    .block-coutn:nth-child(1) {
        margin-right: 13px;
    }

    .block-coutn:nth-child(2) {
        margin-right: 0px;
    }

    .block-coutn:nth-child(3) .text-h3 {
        margin-bottom: 7px;
    }

    .block-coutn:nth-child(3) {
        margin: 0;
    }
    .block-coutn:nth-child(3) .text-h3 {
        margin: 0;
        margin-bottom: 25px;
    }
    .block-coutn:nth-child(3) .text-p {
        margin: 0;
        
    }
    /**********Pricing block************/
    .pricing {
        padding-top: 47px;
        padding-bottom: 44px;
    }

    .pricing__flex-item {
        position: relative;
    }
    .online {
        position: absolute;
        height: 197px;
        width: 197px;
        margin-bottom: 25px;
        top: 10px;
        left: -28px;
        
    }

    .lesson {
        height: 168px;
        width: 219px;
        margin-top: 52px;
        margin-left: 5px;
        margin-bottom: 17px;
    }

    .webinar {
        height: 210px;
        width: 210px;
        margin-top: 20px;
        margin-left: 27px;
        margin-bottom: 6px;
      
    }

    .pricing__flex-item .text-h3 {
        width: 177px;
        line-height: 28px;
        margin-bottom: 13px;
    }

    .pricing__flex-item .text-p {
        font-size: 14px;
    }

    .pricing__flex-item:nth-child(1) .text-h3 {
        margin-top: 243px;
        margin-bottom: 16px;
    }
    .pricing__flex-item:nth-child(1) .text-p {
        width: 200px;
        margin-left: 10px;
    }

    .pricing__flex-item:nth-child(2) .text-h3 {
        margin-left: 10px;
        margin-bottom: 14px;
    }

    .pricing__flex-item:nth-child(2) .text-p {
        margin-left: 14px;
        width: 210px;
        margin-bottom: 17px;
        
    }

    .pricing__flex-item:nth-child(3) .text-h3 {
        margin-left: 27px;
        line-height: 28px;
        width: 164px;
        margin-bottom: 9px;
    }

    .pricing__flex-item:nth-child(3) .text-p {
        margin-left: 27px;
        margin-bottom: 23px;
        width: 225px;
    }

    .pricing__flex-item:nth-child(1) .pricing__month {

        padding-left: 8px;
        height: 45px;
        margin-left: 11px;
        padding-left: 9px;
        padding-right: 15px;

    }

    .pricing__flex-item:nth-child(2) .pricing__month {
        margin-left: 11px;
        padding-left: 11px;
        padding-right: 19px;
    }

    .pricing__flex-item:nth-child(3) .pricing__month {
        margin-left: 27px;
    }

    /**********Contact block************/
    .contact {
        padding-top: 25px;
        padding-bottom: 113px;
    }

    .contact__flex {
        gap: 19px;
    }
    .contact img {
        height: 210px;
        width: 233px;
        margin-left: 26px;
        margin-top: 24px;
    }

    .contact-p {
        font-size: 14px;
        margin-left: 19px;
        width: 390px;
        margin-bottom: 24px;
    }

    .contact .text-h2 {
        margin-top: 6px;
        line-height: 60px;
        margin-bottom: 0px;
    }
    input {
        margin-left: 18px;
        height: 50px;
        width: 284px;
        border-radius: 5px;
        font-size: 12px;
        padding: 17px 0 15px 20px;
        outline: none;
    }

    .contact .btn {
        border-radius: 5px;
        height: 50px;
        width: 146px;
        margin-left: 4px;
        font-size: 13px;
        padding: 16px 39px;
    }

    /**********Footer block************/
    .footer__flex {
        margin-top: 10px;
    }

    .footer-nav {
        margin-top: 16px;
        gap: 3px;
    }
    .footer-nav a {
        font-size: 13px;
    }

    .footer-nav .circle::before {
        font-size: 11px;
        width: 0.1em;
        margin-right: 5px;
    }
  
}

@media screen and (max-width: 575px) {
    .text-h1 {
        font-size: 34px;
        line-height: 45px;
        width: 496px;
        margin-bottom: 25px;
        margin-left: 8px;
    }
    .text-p {
        font-size: 14px;
    }

    .container {
        max-width: 510px;
    }
    /**********Header block************/
    /* .header__flex img {
        height: 45px;
        width: 89px;
    } */

    
    .header {
        padding-top: 47px;
        padding-bottom: 15px;
    }
    .header__flex {
        padding-left: 2px;
        padding-right: 17px;
    }

    .header__flex img {
        margin-top: 0px;
    }
    

    .burger {
        height: 24px;
        width: 42px;
    }
    .burger__line {
        background-color: #39515E;
        width: 42px;
        height: 4px;
        border-radius: 1px;
    }
    
    .burger__line:not(:nth-child(3)) {
        margin-bottom: 5px;
    }
    .burger__line:nth-child(3) {
        width: 30px;
    }



    /**********language block************/
    .text-h1 br {
        display: none;
    }

    .language {
        padding-top: 6px;
        padding-bottom: 25px;
    }

    .language-img {
        height: 424px;
        width: 424px;
        margin-top: 0px;
        margin-left: 43px;
    }

    .language .text-p {
        font-size: 16px;
        width: 500px;
        text-align: center;
    }

    .language__flex {
        flex-direction: column-reverse;
        padding-left: 0;
    }
    .language__flex-item {
        margin-top: 17px;
        margin-left: 0;
    }

    .language__flex-item .text-p {
        margin-left: 5px;
        margin-bottom: 36px;
    }

    .language-btn {
        font-size: 18px;
        width: 305px;
        height: 75px;
        margin: 0 auto;
    }
    .language-btn {
        padding: 24px 100px;
    }

    .skills {
        padding-top: 69px;
    }

    .skills .text-h2 {
        margin-left: 14px;
    }

    /**********Skills block************/
    .skills .text-h2 {
        margin-bottom: 34px;
    }

    .skills__grid {
        display: grid;
        grid-template-areas:
            "speaking writing "
            "reading listening";
        font-size: 13px;
        gap: 30px;
        row-gap: 34px;
        padding-left: 0;

    }

    .skills-listening {
        padding-top: 38px;
        grid-area: listening;
        display: block;

    }

    .skills__grid-item {
        width: 240px;
        height: 534px;
        border-radius: 5px;
    }

    .skills__grid-item .text-h3 {
        font-size: 18px;
    }

    .skills__grid-item .text-p {
        font-size: 13px;
    }

    .skills-listening img {
        position: relative;
        top: 0;
        left: 0;
        width: 206px;
        height: 137px;
    }

    .skills__speaking {
        position: relative;
    }

    .skills__speaking .text-h3 {
        margin-left: 15px;
        margin-top: 181px;
        line-height: 40px;
        margin-bottom: 6px;
    }
    .skills__speaking .text-p {
        margin-left: 17px;
        font-size: 12px;
        width: 187px;
        line-height: 1.5em;
        margin-bottom: 23px;
    }

    .skills__speaking .btn {
        padding: 13px 53px;
        width: 200px;
        margin-left: 15px;
        font-size: 14px;
    }
    .media {
        overflow: hidden;
        display: none;
    }

    .media_fsf {
        overflow: visible;
    }

    .skills__speaking img {
        height: 185px;
        width: 185px;
        margin: 0;
        top: -8px;
        left: 9px;
        position: absolute;
    }



    .skills-writing .img-writing {
        height: 182px;
        width: 182px;
        left: 23px;
        top: 5px;
        margin-left: 0;
 
    }
    .skills-writing .text-h3 {
        margin-top: 187px;
        margin-left: 18px;
        line-height: 40px;
    }

    .skills-writing .text-p {
        margin-left: 21px;
        width: 184px;
        margin-bottom: 131px;
        line-height: 1.4em;
    }

    .skills-writing .btn {
        margin-left: 16px;
        padding: 13px 54px;
        height: 49px;
        width: 200px;
        font-size: 14px;
    }


    .skills-reading img {
        height: 132px;
        width: 198px;
        left: -1px;
        top: 31px;
    }

    .skills-reading .text-h3 {
        margin-top: 178px;
        margin-left: 15px;
        line-height: 45px;
        margin-bottom: 3px;
    }

    .skills-reading .text-p {
        margin-left: 16px;
        margin-bottom: 24px;
        width: 184px;
        line-height: 1.6em;
        margin-bottom: 118px;
    }

    .skills-reading .btn {
        margin-left: 15px;
        padding: 13px 54px;
        height: 49px;
        width: 200px;
        font-size: 14px;
    }

    .skills-listening {
        margin-top: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        
        justify-content: flex-end;
    }

    .skills-listening img {
        margin-top: 38px;
        margin-left: 14px;
    }

    .skills-listening .text-h3 {
        margin-top: 8px;
        margin-left: 20px;
    }

    .skills-listening .text-p {
        margin-left: 24px;
        width: 210px;
        margin-bottom: 139px;
    }
    .media-list {
        display: block;
    }

    .skills-listening .btn {
        margin-left: 18px;
        padding: 13px 54px;
        height: 49px;
        width: 200px;
        font-size: 14px;
    }

     /**********About block************/
    .about {
        padding-top: 76px;
    }

    .about__flex {
        /* flex-direction: column; */
        position: relative;
        align-items: center;
        flex-direction: column-reverse;
        
    }

    .about__flex-item {
        margin-top: 0;
        
    }

    .about .text-h2 {
        text-align: center;
        margin-left: 0;
        
    }

    .about .text-h2 {
        position: absolute;
        top: 5.4%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .about img {
        height: 352px;
        width: 352px;
        margin-top: 102px;
        margin-right: 0px;
        margin-left: 4px;
        margin-bottom: 25px;

    }
    .about .about-p {
        text-align: center;
        width: 500px;
        margin-left: 0;
        margin-bottom: 36px;
    }

    .about__flex-count {
        padding-left: 30px;
        gap: 62px;
    }
    .block-coutn .text-h3 {
        font-size: 24px;
        line-height: 0;
        margin-bottom: 32px;
    }    
    
    .block-coutn .text-h3 {
        line-height: 0;
    }

    .block-coutn:nth-child(3) {
        height: 68.5px;
    }

    .block-coutn .text-p {
        width: 75px;
    }

    .block-coutn:nth-child(1) .text-h3,
    .block-coutn:nth-child(2) .text-h3 {
        margin-bottom: 29px;
    }
    .block-coutn:nth-child(3) .text-h3 {
        margin-bottom: 30px;
    }

    /**********Pricing block************/
    .pricing {
        padding-top: 78px;
        padding-bottom: 100px;
    }

    .pricing__flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .pricing__flex-item .text-h3 {
        font-size: 24px;
        width: 310px;


    }

    .price {
        font-size: 22px;
    }


    .online {
        height: 291px;
        width: 291px;
        position: relative;
        top: 0;
        left: 0;
        margin-top: 45px;
        margin-bottom: 22px;
        margin-left: 50px;
    }

    .pricing__flex-item:nth-child(1) .text-h3 { 
        margin-top: 10px;
        margin: 0 auto;
        font-weight: 600;
        margin-left: 45px;
        margin-bottom: 23px;
    }

    .pricing__flex-item:nth-child(1) .text-p {
        width: 390px;
        height: 0;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 73px;
    }

    .pricing__flex-item:nth-child(1) .pricing__month {
        margin: 0 auto;
        height: 47px;
        padding-left: 8px;
        padding-right: 16px;
    }


    .pricing__flex-item:nth-child(2) {
        padding-left: 0px;
    }

    .pricing__flex-item:nth-child(2) .text-h3 { 
        margin-top: 10px;
        margin: 0 auto;
        font-weight: 600;
        margin-left: 83px;
        margin-bottom: 19px;
    }

    .pricing__flex-item:nth-child(2) .text-p {
        text-align: center;
        width: 346px;
        margin-left: 22px;
        height: 0;
        margin-bottom: 73px;
    }
    
    .lesson {
        height: 241px;
        width: 314px;
        margin-top: 69px;
        margin-left: 40px;
        margin-bottom: 14px;
    }
    .pricing__flex-item:nth-child(2) .pricing__month {
        margin: 0 auto;
        height: 47px;
        padding-left: 16px;
        padding-right: 10px;
        margin-left: 100px;
    }

    .pricing__flex-item:nth-child(3) .text-h3 {
        margin-left: 107px;
        line-height: 28px;
        width: 200px;
        margin-bottom: 19px;
    }
    .pricing__flex-item:nth-child(3) .text-p {
        text-align: center;
        margin-bottom: 23px;
        width: 360px;
        margin-left: 24px;
        height: 0;
        margin-bottom: 74px;
    }

    .webinar {
        margin-top: 70px;
        height: 253px;
        width: 253px;
        margin-bottom: 8px;
        margin-left: 79px;
        
    }

    .pricing__flex-item:nth-child(3) .pricing__month {
        margin: 0 auto;
        height: 47px;
        padding-left: 16px;
        padding-right: 7px;
        margin-left: 104px;
    }

    /**********Contact block************/
    
    .contact {
        padding-top: 55px;
        padding-bottom: 143px;
    }

    .contact .container {
        max-width: 510px;
    }
    .contact__flex {
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact img {
        height: 322px;
        width: 358px;
        margin-top: 169px;
        margin-left: 13px;
        margin-bottom: 15px;
        
    }

    .contact .text-h2 {
        position: absolute;
        top: 41px;
        left: 47%;
        transform: translate(-50%, -50%);
    }

    .contact__item {
        margin-right: 0;
    }

    .contact-p {
        width: 469px;
        font-size: 16px;
        font-weight: 400;  
        margin: 0 auto;   
        margin-bottom: 58px; 
        
    }

    input {
        position: relative;
        height: 60px;
        width: 330px;
        border-radius: 10px;
        margin-left: 12px;
        margin-right: 192px;
        font-size: 13px;
        padding-left: 23px;
    }

    .contact .btn {
        height: 60px;
        width: 193px;
        margin-left: 0;
        position: absolute;
        left: 319px;
        font-size: 16px;
        padding: 19px 42px;
        border-radius: 10px;

    }

    .footer {
        padding-bottom: 22px;
    }

    .footer__flex {
        padding-left: 0px;
        padding-right: 0;
        padding-top: 15px;
        margin-top: 0;
    }

    .footer-nav {
        gap: 4px;
        font-weight: 500;
    }

    .footer-nav a {
        font-size: 12px;
    }

    .footer-nav .circle::before {
        margin-right: 3px;
    }
}

@media screen and (max-width: 320px) {
    .text-h1 {
        font-size: 24px;
        line-height: 36px;
        width: 222px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .text-h3 {
        font-size: 15px;
    }

    .text-h2 {
        font-size: 24px;
    }

    .text-p {
        font-size: 14px;
    }

    .text-h1 .media-h1 {
        overflow: hidden;
        display: none;
        
    }

    .text-h1 .media-h1-br {
        overflow: visible;
        display: block;
    }

    .container {
        max-width: 320px;
    }
    /**********Header block************/

    .header {
        padding-top: 40px;
    }

    .header__flex {
        padding-left: 16px;
        padding-right: 7px;
    }

    .header__flex img {
        height: 21px;
        width: 68px;
    }

    .burger__line {
        background-color: #39515E;
        width: 34px;
        height: 4px;
        border-radius: 1px;
    }

    .burger__line:nth-child(3) {
        width: 24px;
    }
    /**********language block************/
    .language__flex-item {
        margin-top: 17px;
    }
        
    

    .language-img {
        height: 299px;
        width: 299px;
        margin-top: 15px;
        margin-left: 11px;
    }

    .language .text-p {
        font-size: 14px;
        width: 292px;
    }
    .language__flex-item .text-p {
        margin-left: 0px;
        margin: 0 auto;
        margin-bottom: 34px;
    }

    .language-btn {
       height: 60px;
       width: 289px; 
       font-size: 16px; 
       padding: 18px 97px;  
    }
    /**********Skills block************/

    .skills__grid {
        display: grid;
        grid-template-areas:
            "speaking"
            "writing"
            "reading"
            "listening";
        font-size: 13px;
        gap: 30px;
        row-gap: 34px;
        padding-left: 0;
    }

    .skills {
        padding-top: 24px;
    }

    .skills__grid {
        align-items: center;
        gap: 0;
        padding-left: 17px;
        row-gap: 21px;
        
    }
    

    .skills__grid-item {
        width: 290px;
        height: 600px;
        
    }
    .skills__grid-item p {
        font-size: 13px;
    }

    .skills__speaking img {
        height: 213px;
        width: 213px;
        top: 6px;
        left: 38px;
    }

    .skills__speaking .text-h3 {
        margin-top: 252px;
        margin-left: 9px;
        font-size: 18px;
    }

    .skills-writing .img-writing {
        height: 204px;
        width: 204px;
        left: 43px;
        top: 15px;
    }

    .skills-reading img {
        height: 157px;
        width: 236px;
        left: 28px;
        top: 28px;
    }
    

    .skills-listening img {
        height: 154px;
        width: 232px;

        margin-top: 33px;
        margin-left: 30px;
    }

    .skills__speaking .text-p {
        font-size: 13px;
        width: 258px;
        margin-bottom: 32px;
    }

    .skills__speaking .btn {
        height: 52px;;
        width: 177px;
        padding: 13px 37px;

    }   

    .skills__speaking .text-p .media_fsf {
        overflow: hidden;
        display: none;
    }

    .skills__speaking .text-p .media {
        overflow: hidden;
        display: none;
    }
    .skills-writing {
        height: 473px;
    }
    .skills-writing .text-h3 {
        margin-top: 251px;
        margin-bottom: 4px;
    }

    .skills-writing .text-p {
        font-size: 12px;
        width: 276px;
        margin-bottom: 34px;
    }

    .skills-writing .btn {
        margin-left: 12px;
        padding: 13px 36px;
        height: 49px;
        width: 178px;

    }   

    .skills-reading {
        height: 473px;
    }
    .skills-reading .text-h3 {
        margin-top: 221px;
    }

    .skills-reading .text-p {
        font-size: 12px;
        width: 238px;
        margin-bottom: 34px;
    }

    .skills-reading .btn {
        height: 52px;;
        width: 177px;
        padding: 13px 43px;
        margin-left: 13px;

    }  
    
    .skills-listening {
        height: 473px;
    }

    .skills-listening .text-h3 {
        margin-top: 34px;
        margin-left: 13px;
    }

    .skills-listening .text-p .media-list {
        overflow: hidden;
        display: none;
    }

    .skills-listening .text-p {
        margin-left: 25px;
        width: 249px;
        margin-bottom: 38px;
    }

    .skills-listening .btn {
        height: 52px;;
        width: 177px;
        padding: 13px 43px;
        margin-left: 13px;

    }  
    /**********About block************/

    .about {
        padding-top: 32px;
    }

    .about img {
        height: 283px;
        width: 283px;
        margin-top: 112px;
        margin-right: 0px;
        margin-left: 1px;
    }

    .about .about-p {
        text-align: center;
        font-size: 13px;
        max-width: 296px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .about__flex-count {
        flex-direction: column;
        padding-left: 17px;
        gap: 13px;
    }

    .block-coutn .about-p {
        font-size: 15px;
        font-weight: 400;
    }

    .block-coutn:nth-child(1) .text-h3, .block-coutn:nth-child(2) .text-h3 {
        margin-bottom: 25px;
    }

    .block-coutn:nth-child(2) .text-h3 {
        margin-right: 12px;
        margin-bottom: 21px;
    }

    .block-coutn:nth-child(3) .text-h3 {
        margin-top: 14px;
        margin-right: 12px;
        margin-bottom: 24px;
        
        
    }
    /**********Pricing block************/
    .pricing {
        padding-top: 57px;
        padding-bottom: 0px;
    }

    .online {
        height: 248px;
        width: 248px;
        margin-top: 41px;
        margin-left: 32px;
    }
    .lesson {
        height: 197px;
        width: 257px;
        margin-top: 56px;
        margin-bottom: 7px;
    }

    .webinar {
        height: 241px;
        width: 241px;
        margin-top: 64px;
        margin-left: 39px;
        margin-bottom: 0;
    }
    .pricing__flex-item .text-h3 {
        font-size: 18px;
        max-width: 227px;
        text-align: center; 
        
    }

    .pricing__flex-item:nth-child(1) .text-h3 {
        margin-bottom: 14px;
    }
    .pricing__flex-item:nth-child(1) .text-p {
        width: 294px;
        text-align: center;
        margin-bottom: 92px;
      
    }

    .pricing__flex-item:nth-child(2) .text-h3 {
        margin-left: 54px;
    }

    .pricing__flex-item:nth-child(2) .text-p {
        text-align: center;
        width: 313px;
    }

    .pricing__flex-item:nth-child(3) .text-h3 {
        margin-left: 54px;
        margin-bottom: 26px;
    }

    .pricing__flex-item:nth-child(3) .text-p {
        text-align: center;
        width: 298px;
        margin-bottom: 78px;
    }

    .pricing__flex-item:nth-child(3) {
        margin-right: 0;
    }

    .pricing__month {
        width: 170px;
    }

    .price {
        font-size: 18px;
    }

    .price-lable {
        font-size: 14px;
    }

    .pricing__flex-item:nth-child(2) .pricing__month {
        margin-left: 82px;
    }

    .pricing__flex-item:nth-child(3) .pricing__month {
        width: 170px;
        margin-left: 78px;
    }
    /**********Contact block************/

    .contact {
        padding-top: 58px;
        padding-bottom: 60px;
    }

    .contact img {
        height: 223px;
        width: 248px;
        margin-top: 128px;
        margin-left: 22px;
        margin-bottom: 24px;
    }

    .contact-p {
        width: 259px;
        margin-bottom: 27px;
    }

    .contact .btn {
        position: relative;
        left: 0;
        width: 291px;
        height: 55px;
        padding: 14px 75px;
    }
    input {
        margin: 0;
        width: 291px;
        margin-bottom: 18px;
        height: 53px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
         
    }
    /**********Footer block************/
    
    .footer img {
        height: 21px;
        width: 68px;
    }

    .footer__flex {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav {
        padding: 0;
    }

    .footer-nav a {
        font-size: 11px;
    }


}

  
    


       
        




    



