html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #8F95A5;
}

*, *::after, *::before {
    box-sizing: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--main-color);
}

.container {
    max-width: 1348px;
    margin: 0 auto;
}

.text-h1 {
    margin: 0;
    font-size: 64px;
    color: #000000;
    line-height: 80px;
    font-weight: 700;
    width: 393px;
}

.text-h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    color: #000000;
}
.text-h3 {
    color: #263238;    
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
}

.text-p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;

}

.btn {
   
    padding: 15px 51px;
    background-color: #263238;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    width: 218px;
    text-decoration: none;
    cursor: pointer;
    
}
/* ********************************************* Main block *********************************************/



/* ********************************************* Header block *********************************************/
.header {
    padding-top: 46px;
    padding-bottom: 50px;

}
.header__flex {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__flex img {
    
    height: 31px;
    width: 106px;
}
.menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: 30px;
   
}

.menu li {
    list-style-type: none;

}


.menu a {
    text-decoration: none;
    color: #263238;
    font-weight: 500;
    font-size: 20px;
}

.menu a:hover {
    color: var(--main-color);
    transition: 0.4s;
}

.header__flex .btn {
    margin-top: 12px;
    padding: 16px 50px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-size: 22px;
    font-weight: 400;
    
}

.header__flex .btn:hover {
    background-color: #263238;
    color: #fff;
    transition: 0.6s;
}

/* ********************************************* Language block *********************************************/

.language {
    padding-top: 3px;
}
.language__flex {
    padding-left: 2px;
    display: flex;
    justify-content: space-between;
    
}
.language__flex-item {
    margin-top: 48px;
}

.language__flex-item .text-h1 {
    margin-bottom: 41px;
} 

.language__flex-item .text-p {
    width: 525px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 65px;
}
.text {
}

.language-btn {
    padding: 28px 117px;
    border: 1px solid #000;
    width: 440px;
    height: 118px;
    font-size: 36px;
    border-radius: 15px;
    
}

.language-btn:hover {
    background-color: #fff;
    color: #263238;
    transition: 0.6s;
}

.language-img {
    margin-left: 163px;
}

/* ********************************************* Skills block *********************************************/

.skills {
    padding-top: 100px;
    padding-bottom: 126px;
}
.skills .text-h2 {
    margin-bottom: 95px;
    margin-top: 2px;
}
.skills__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
        "speaking writing reading"
        "speaking listening listening";

}
.skills__grid-item {
    border-radius: 10px;
    padding-top: 35px;
    width: 435px;
    height: 532px;
    background-color: #F5F5F5;
}

.skills__grid-item img {
    margin-left: 22px;
}

.skills__grid-item .text-h3 {
    margin: 0;
    margin-left: 43px; 
    margin-top: 14px;
    margin-bottom: 21px;   
}
.skills__grid-item .text-p {
    width: 341px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 43px;
    margin-bottom: 38px; 
    line-height: 1.5em;
}
.skiils-p {
}

.skills__grid-item .btn {
    margin-left: 43px;
    width: 229px;
    padding: 15px 57px;
}

.skills__speaking {
    grid-area: speaking;
    height: 894px;
}


/*****skills-writing****/
.skills-writing {
    grid-area: writing;
    padding: 0;
    position: relative;
}

.skills-writing .text-h3 {
    margin-top: 268px;
    margin-left: 38px;
    margin-bottom: 8px;
}

.skills-writing .img-writing {
    position: absolute;
    left: 96px;
    top: -3px;

}

.skills-writing .text-p {
    margin-left: 38px;
    margin-bottom: 32px;
}

.skills-writing .btn {
    margin-left: 38px;
    padding: 15px 52px;
    width: 220px;
}



/*****skills-reading****/
.skills-reading {
    grid-area: reading;
    position: relative;
    padding-top: 0;
}

.skills-reading .text-h3 {
    /* margin-top: 17px;
    margin-bottom: 2px;
    margin-left: 33px; */

    margin-top: 271px;
    margin-left: 33px;
    margin-bottom: 2px;
}

.skills-reading .text-p {
    margin-left: 35px;
    width: 354px;
    margin-bottom: 34px;
}

.skills-reading .btn {
    margin-left: 34px;
    padding: 15px 52px;
    width: 222px;
}

.skills-reading img {
    margin: 0;
    position: absolute;
    left: -6px;
    top: 9px;

}

/*****skills-listening****/
.skills-listening {
    padding-top: 44px;
    grid-area: listening;
    width: 885px;
    height: 343px;
    display: flex;
    justify-content: space-between;
}

.skills-listening .text-h3 {
    margin-bottom: 11px;
}

.skills-listening .text-p {
    margin-bottom: 26px;
}

.skills-listening .btn {
    margin-left: 39px;
    padding: 15px 52px;
    width: 220px;
}

.skills-listening img {
    height: 255px;
    width: 382px;
    margin-right: 29px;
}

/* ********************************************* About block *********************************************/

.about {
    padding-top: 126px;
    padding-bottom: 94px;
}
.about__flex {
    display: flex;
    justify-content: space-between;
    /* padding-left: 5px; */
}
.about__flex-item {
    margin-top: 30px;
    
}
.about .text-h2 {
    text-align: left;
    margin-bottom: 23px;
    margin-left: 5px;
}
.about .text-p {
    width: 635px;
    margin-bottom: 55px;
    margin-left: 5px;
}
.about-p {
}


.about__flex-count {
    display: flex;
    justify-content: space-between;
    gap: 1px;
    align-items: center;
    margin-left: 2px;

}

.about img {
    height: 500px;
    width: 500px;
    margin-right: 14px;
}

.block-coutn {
    text-align: center;
    width: 100px;   
    margin-right: 132px;
}

.block-coutn .text-h3 {
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    margin-bottom: 15px;
}
.block-coutn .text-p {
    width: 100px;
    margin-left: 0px;
}


.block-coutn:nth-child(2) {
    margin-right: 75px;
}

.block-coutn:nth-child(2) .text-p {
    margin-left: 2px;
}



.block-coutn:nth-child(3) {
    width: 205px;   
}
.block-coutn:nth-child(3) .text-h3 {
    margin-bottom: 13px;
}

.block-coutn:nth-child(3) .text-p {
    width: 205px;
    margin-left: 9px;
}

/* ********************************************* Pricing block *********************************************/
.pricing {
    padding-top: 78px;
    padding-bottom: 145px;
}

.pricing .text-h2 {
    margin-bottom: 57px;
}
.pricing__flex {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}

.pricing__flex-item {
}
.online {

    margin-left: 25px;
    margin-bottom: 34px;
}

.lesson {
    margin-top: 26px;
    /* margin-left: 12px; */
    margin-bottom: 35px;
}

.pricing__flex-item .text-h3 {
    margin: 0;
    margin-bottom: 18px;
}


.pricing__flex-item .text-p {
    height: 90px;
    width: 420px;
    margin-bottom: 29px;
}
.pricing__flex-item:nth-child(2) {
    padding-left: 45px;
}

.pricing__flex-item:nth-child(2) .text-h3 {
    margin-bottom: 22px;
    margin-left: 2px;
}

.pricing__flex-item:nth-child(2) .text-p {
    margin-left: 2px;
}

.pricing__flex-item:nth-child(3) {
    margin-right: 16px;
}

.pricing__flex-item:nth-child(3) .text-p {
    width: 425px;
}


.pricing__month {
    padding-left: 19px;
    padding-right: 19px;
    height: 45px;
    width: 240px;
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.pricing__flex-item:nth-child(2) .pricing__month {
    margin-left: 7px; 
    padding-left: 15px;
    padding-right: 26px;
}

.pricing__flex-item:nth-child(3) .pricing__month {
    padding-left: 13px;
}

.price {
    color: #263238;
    font-size: 30px;
    font-weight: 400;
}
.price-lable {
    color: #263238;
    font-size: 18px;
    font-weight: 400;
}

.webinar {
    margin-left: 50px;
    padding-bottom: 4px;
}


